* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

body {
	min-width: 1200px;
}

header {
	margin-left: 1%;
	margin-top: 50px;
	width: 98%;
	height: 100px;
}

.image-block {
	float: left;
	background: url(../images/icon.png) #A4C2F4;
	width: 13%;
	height: 100px;
	border: 2px solid black;
}

.text-block {
	float: left;
	background: lightblue;
	width: 87%;
	height: 100px;
	line-height: 100px;
	padding-left: 30px;
	border: 2px solid black;
	border-left: none;
	overflow: hidden;
}

.text {
	text-transform: uppercase;
	font-size: 25px;
	font-weight: normal;
}

.main-content {
	height: 500px;
	background: lightblue;
	width: 98%;
	margin-left: 1%;
}

aside {
	float: left;
	width: 23%;
	border: 2px solid black;
	border-top: none;
	height: 500px;
}

nav ul {
	background: lightgreen;
	width: 100%;
	list-style: none;
}

nav li {
	white-space: nowrap;
	width: 100%;
	height: 50px;
	border: 2px solid green;
	line-height: 50px;
	padding-left: 15px;
	text-overflow: ellipsis;
	overflow: hidden;
}

section {
	float: left;
	width: 77%;
	height: 500px;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
}

.first-part {
	width: 100%;
	height: 300px;
	border-bottom: 2px solid black;
}

.second-part {
	width: 100%;
	height: 200px;
	display: table;
}

.first-part ul {
	margin: 0 auto;
	padding-top: 1%;
	width: 780px;
	height: 100%;
}

.first-part li {
	float: left;
	width: 200px;
	height: 115px;
	margin-left: 6%;
	margin-bottom: 2%;
	background: pink;
	border: 2px solid black;
	text-align: center;
	overflow: hidden;
	position: relative;
	display: flex;
	align-items: center;
}

.li-content {
	width: 100%;
}

.ribbon:after {
    content: "";
    width: 71px;
    height: 47px;
    border-bottom: 2px solid black;
    -webkit-transform: translateY(-47px) translateX(-17px) rotate(36deg);
    position: absolute;
    top: 24px;
    left: 166px;
}


.ribbon:before {
    content: "";
    width: 43px;
    height: 47px;
    border-bottom: 2px solid black;
    -webkit-transform: translateY(-56px) translateX(139px) rotate(36deg);
    position: absolute;
    top: 24px;
    left: 32px;
}

.second-part ul {
	text-align: center;
	height: 200px;
	display: table-cell;  4
	vertical-align: middle;
	vertical-align: middle;
}

.second-part li {
	width: 29%;
	height: 130px;
	display: inline-block;
	background: pink;
	margin-left: 1%;
	border: 2px solid black;
	padding-left: 15px;
	overflow: hidden;
}

.second-part .li-content {
	display: table-cell;
    vertical-align: middle;
    height: 130px;
    text-align: left;
    overflow: hidden;
}

footer {
	background: lightblue;
	height: 120px;
    width: 98%;
	margin-left: 1%;
	border: 2px solid black;
	border-top: none;
	overflow: hidden;
}

footer ul {
	width: 100%;
	height: 60px;
}

footer li {
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	float: left;
	background: yellow;
	height: 60px;
	width: 33%;
	line-height: 60px;
	text-align: center;
	overflow: hidden;
}

footer li:last-child {
	border-right: none;
	width: 34%;
}

.footer-block {
	text-align: center;
	width: 100%;
	height: 60px;
	line-height: 60px;
	overflow: hidden;
}
