<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title BSA2016
	link(rel="stylesheet", href="css/main.css")
body
	h1 Home page
	p Repellat, nemo, ducimus! Illo veniam minus ea culpa molestias veritatis maxime, distinctio sunt nisi, amet quis, quaerat totam ducimus eos rerum reiciendis.
	a(href="page.html") open second page
	pre#js-output
	script(src="js/bundle.js")