<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title BSA2016
	link(rel="stylesheet", href="css/main.css")
body
	h1 Second page
	p Explicabo tenetur, quia in repudiandae asperiores, iste, illo hic sunt quidem excepturi aperiam non quaerat earum aliquam? Dolores cupiditate officia sapiente ipsam?
	a(href="/") go home